<!-- <div class="md-cards">
    <div class="md-card-cont">
        <h3>New & Updated Games</h3>
        <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
            <mbsc-scrollview-item mbsc-card *ngFor="let c of newGames">
                <mbsc-card-content>
                    <img class="md-img" [src]="c.image" draggable="false">
                    <mbsc-card-title>{{c.title}}</mbsc-card-title>
                    <mbsc-card-subtitle>{{c.dev}}</mbsc-card-subtitle>
                    <div class="md-rank">{{c.rank}}<span class="mbsc-ic mbsc-ic-star3"></span></div>
                </mbsc-card-content>
            </mbsc-scrollview-item>
        </mbsc-scrollview>

        <h3>Media & Video Apps</h3>
        <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
            <mbsc-scrollview-item mbsc-card *ngFor="let c of mediaVideo">
                <mbsc-card-content>
                    <img class="md-img" [src]="c.image" draggable="false">
                    <mbsc-card-title>{{c.title}}</mbsc-card-title>
                    <mbsc-card-subtitle>{{c.dev}}</mbsc-card-subtitle>
                    <div class="md-rank">{{c.rank}}<span class="mbsc-ic mbsc-ic-star3"></span></div>
                </mbsc-card-content>
            </mbsc-scrollview-item>
        </mbsc-scrollview>

        <h3>New & Updated Apps</h3>
        <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
            <mbsc-scrollview-item mbsc-card *ngFor="let c of newUpdated">
                <mbsc-card-content>
                    <img class="md-img" [src]="c.image" draggable="false">
                    <mbsc-card-title>{{c.title}}</mbsc-card-title>
                    <mbsc-card-subtitle>{{c.dev}}</mbsc-card-subtitle>
                    <div class="md-rank">{{c.rank}}<span class="mbsc-ic mbsc-ic-star3"></span></div>
                </mbsc-card-content>
            </mbsc-scrollview-item>
        </mbsc-scrollview>
    </div>
</div> -->